Proyecto_M7_C/Proyecto_M7_C/Web References/servei/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="hores">
        <s:complexType />
      </s:element>
      <s:element name="horesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="horesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculDespeses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="horesTotals" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="categoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculDespesesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculDespesesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="horesSoapIn">
    <wsdl:part name="parameters" element="tns:hores" />
  </wsdl:message>
  <wsdl:message name="horesSoapOut">
    <wsdl:part name="parameters" element="tns:horesResponse" />
  </wsdl:message>
  <wsdl:message name="calculDespesesSoapIn">
    <wsdl:part name="parameters" element="tns:calculDespeses" />
  </wsdl:message>
  <wsdl:message name="calculDespesesSoapOut">
    <wsdl:part name="parameters" element="tns:calculDespesesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="hores">
      <wsdl:input message="tns:horesSoapIn" />
      <wsdl:output message="tns:horesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculDespeses">
      <wsdl:input message="tns:calculDespesesSoapIn" />
      <wsdl:output message="tns:calculDespesesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hores">
      <soap:operation soapAction="http://tempuri.org/hores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculDespeses">
      <soap:operation soapAction="http://tempuri.org/calculDespeses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hores">
      <soap12:operation soapAction="http://tempuri.org/hores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculDespeses">
      <soap12:operation soapAction="http://tempuri.org/calculDespeses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:49834/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:49834/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>